/*font-family: 'Noto Serif',
serif;
font-family: 'Roboto',
sans-serif;*/
/*reset css*/
@font-face {
    font-family: Merriweather-Bold;
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
	font-family: Noto_Sans_Display;
    src: url(../fonts/Noto_Sans_Display/NotoSansDisplay-VariableFont_wdth\,wght.ttf);
	font-family: Raleway-VariableFont_wght;
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
  }
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {    
    font-family: Merriweather-Regular;
    font-weight: 400;
	background-color:#ffdce3;	
	background-image: linear-gradient(180deg, #ffdce3, #35aeff);
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}
ul {
    padding-left: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}
body {
	max-width: 100%;
	height: 100%;
	background-color:#ffdce3;	
	background-image: linear-gradient(180deg, #ffdce3, #35aeff);


	
}
a {
	text-decoration: none;
}	
ul {
	list-style: none;
}
.container h2{
	text-align: center;
	font-size: 30px;
	font-family: 'Merriweather-Bold';
	font-weight: 700;
}
.container {
	max-width: auto;

}
.menu {	
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
	padding: 0 5%;
	margin: 5px;
}

nav ul {
	display: flex;
}
nav ul li a {
	margin: 30px;
	font-size: 18px;
	font-weight: 500;
	color: #505050;
	font-family: 'Noto Serif', Regular ;
}

.logo {
	font-family: 'NotoSansDisplay-VariableFont_wdth';
	font-weight: 800;
	font-size: 25px;
	color: #505050;
}
.main {
	padding-top: 20px;
}
.column{	
	display: flex;
	justify-content: center;	
}

.column .col img {
	max-width: 600px;
	padding-top: 30px;
}
.column .col{
	font-size: 18px;
	margin: 20px;
}
p {
	font-family: Raleway-VariableFont_wght;
	font-size: 16px;
	font-weight: normal;
}

.swiper {
	width: auto;
	max-width: 1600px;
}
.swiper-slide {
	padding: 30px 0 70px 0;
}
.swiper-slide img {
	max-width: 600px;
}

footer {
	margin-top: 150px;		
	position: relative;
	width: auto;
	background: #3593ff;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer .social_icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}
footer .social_icon li {
	list-style: none;
}
footer .social_icon li a {
	font-size: 2em;
	color:#ffdce3;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}
footer .social_icon li a:hover{
	transform: translateY(-15px);
}
footer p {	
	color: #ffdce3;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.3em;
}

footer .wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(../img/wave.png);
	background-size: 1000px 100px;
}
footer .wave#wave1 {
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWave 5s linear infinite;
}
footer .wave#wave2 {
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animateWave_2 5s linear infinite;
}
footer .wave#wave3 {
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWave 4s linear infinite;
}
footer .wave#wave4 {
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animateWave_2 4s linear infinite;
}
@keyframes animateWave {
	0% {
		background-position-x: 1000px;
	}
	100% {
		background-position-x: 0px;
	}
}
@keyframes animateWave_2 {
	0% {
		background-position-x: 0px;
	}

	100% {
		background-position-x: 1000px;
	}
}
@media (max-width: 900px) {

	nav {
		max-width: 100%;
}
	.logo {
		font-size: 18px;
	}
	.navigation {
		display: flex;
		align-items: center;		
		font-size: 14px;
		margin: 10px;
	}	
	.main h2{
		font-size: 20px;
	}
	.social h2 {
		font-size: 18px;
	}
	.butter h2 {
		font-size: 18px;	
	}
	.digital h2 {
		font-size: 18px;
	}
	.col  h4{
		font-size: 16px;

	}
	.col  p{
		font-size: 12px;
	}
	.swiper {
		max-width: 300px;
	}

}